@import "compass/css3";

$icon-font-path: "../assets/fonts/bootstrap/" !default;
$brand-primary: #00c0ff !default;
$navbar-default-color: #000 !default;
$navbar-default-link-color: #000 !default;
$navbar-default-link-active-color: #00c0ff !default;
$navbar-default-link-hover-color: #00c0ff !default;
$navbar-default-link-active-bg: #fff !default;
$navbar-default-link-hover-bg: #fff !default;
$index-first-container-height: 400px !default;
$navbar-collapse-max-height: 600px !default;

// Navbar brand label
$navbar-default-brand-color: #00c0ff !default;
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

a {

  &:hover {
    text-decoration: underline;
  }
  &.learn-more {
    color: #666;
    &:hover {
      color: $brand-primary;
    }
  }
}

.navbar.navbar-default {
  border-bottom: 4px solid $brand-primary;
  border-radius: 0;
  min-height: 94px;
  .container {
    padding-bottom: 0px;
    .navbar-header {
      a.navbar-brand {
        height: auto;
        padding: 0;
        display: block;
        margin: 20px 0 0;
      }

      @media (min-width: $screen-sm-min) {
        float: right;
      }
      @media (max-width: $screen-xs-max) {
        a.navbar-brand {
          margin: 0 10px;
        }
      }
    }

    .navbar-left {
      margin-top: 38px;
      li.active {
        a {
          span.index {
            background-position-x: -26px;
            background-position-y: -78px;
          }
        }
      }
      a {
        text-transform: uppercase;
        line-height: 35px;
        padding: 16px;
        padding-bottom: 0;
        letter-spacing: .5px;
        font-size: 14px;
        span.index {
          vertical-align: middle;
          background: url(../assets/images/common/elements.png) left top no-repeat;
          background-position-x: 3px;
          background-position-y: -78px;
          width: 30px;
          height: 30px;
          display: inline-block;
        }
        &:hover {
          text-decoration: underline;
          span.index {
            background-position-x: -26px;
            background-position-y: -78px;
          }
        }
        @media (max-width: $screen-md-max) {
          padding: 20px 10px;
          letter-spacing: 0px;
          font-size: 14px;
        }
        @media (max-width: $screen-sm-max) {
          padding: 20px 10px;
          letter-spacing: 0px;
          font-size: 12px;
        }
      }
      li.index-li {
        a {
          padding-top: 9px;
        }
      }
      .dropdown-menu {
        width: 100%;
        min-width: 1px !important;
        a {
          text-align: left;
          padding: 5px 10px;
          font-size: 12px;
          letter-spacing: 0.5px;
          line-height: 18px;
          text-align: right;
          @media (max-width: $screen-sm-max) {
            text-align: center;
          }
          &:hover {
            text-decoration: underline;
            color: $brand-primary;
          }
        }
      }
    }
  }
  .navbar-toggle {
    border-color: #aaa;
    vertical-align: middle;
    margin-top: 30px;
  }
}

.container, .container-fluid {
  text-align: center;
  padding-bottom: 50px;
  .title {
    margin-top: 70px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.container {
  @media (min-width: 1200px) {
    width: 1000px;
  }
}

div.top-right {
  position: absolute;
  right: 0;
  top: 0;
  &.language {
    a {
      border-radius: 0;
      &:hover {
        background-color: $navbar-default-link-hover-bg;
      }
    }
  }
}

.footer {
  font-size: 14px;
  text-align: left;
  border-top: 4px solid $brand-primary;
  padding-top: 20px;
  padding-bottom: 0;
  .container {
    padding-bottom: 5px;
    p {
      text-align: left;
      line-height: 1.1;
      a {
        img {
          width: 30px;
        }
        &.facebook {
          color: #295396;
        }
      }
    }
  }
}

.main-slider-container {
  margin-top: 94px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  width: 100%;
  padding: 0;
  .flexslider {
    border: none;
    margin-bottom: 0;
    ul.home_slider {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: $index-first-container-height;
      li {
        overflow: hidden;
        min-height: $index-first-container-height;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        .flex-caption {
          height: 100%;
          position: absolute;
          width: 100%;
          > div {
            color: #222;
            height: 50%;
            position: absolute;
            bottom: 60px;
            width: 100%;
            > div {
              background: rgba(255, 255, 255, .4);
              height: 120px;
              width: 100%;
              margin: auto;
              h1 {
                line-height: 120px;
                font-weight: bold;
                font-size: 44px;
              }
            }
          }
        }
      }
    }
    ul.flex-direction-nav {
      a {
        height: 80px;
        &:before, &:after {
          content: "";
        }
        &.flex-prev {
          background: url(../assets/images/index/first/thin-left.png) center center no-repeat transparent;
        }
        &.flex-next {
          background: url(../assets/images/index/first/thin-right.png) center center no-repeat transparent;
        }
      }
    }
  }
}

.title-with-bg {
  text-align: center;
  background: #E4E4E4;
  line-height: 1.8;
}

.flexslider.products {
  margin-bottom: 0;
  .flex-viewport {
    .slides {
      height: 160px;
      li {
        padding: 0px;
        height: 160px;
        text-align: left;
        img {
          height: 160px;
        }
      }
    }
  }
  ul.flex-direction-nav {
    a {
      height: 50px;
      margin-top: -40px;
      &:focus {
        outline: none;
      }
      &:before, &:after {
        content: "";
      }
      &.flex-prev {
        background: url(../assets/images/common/left.png) center center no-repeat transparent;
      }
      &.flex-next {
        background: url(../assets/images/common/right.png) center center no-repeat transparent;
      }
    }
  }
}

#index .second-container, #projekte .second-container {
  overflow: hidden;
}

#index .fifth-container, #projekte .second-container {
  h3 {
    font-weight: bold;
    margin-bottom: 50px;
  }
  h5 {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 0px;
  }
}

#index .third-container, #index .fourth-container, #leistungen .first-container, #buero .third-container {
  h3 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .col {
    .icon {
      background: url(../assets/images/common/elements.png) left top no-repeat;
      display: inline-block;
      line-height: 145px;
      margin: 0 auto 20px;
      font-size: 18px;
      font-weight: bold;
    }
    p.comment {
      padding: 0 10px;
      word-break: break-all;
    }
    margin-bottom: 20px;
  }
}

#index .third-container, #buero .third-container {
  .col {
    .icon {
      width: 145px;
      height: 145px;
      background-position-x: 0px;
      background-position-y: -106px;
    }
  }
}

#index .fourth-container, #leistungen .first-container {
  .row {
    .col {
      .icon {
        width: 80px;
        height: 80px;
      }
      &:nth-child(1) {
        .icon {
          background-position-x: 0px;
          background-position-y: 0px;
        }
      }
      &:nth-child(2) {
        .icon {
          background-position-x: -80px;
          background-position-y: 0px;
        }
      }
      &:nth-child(3) {
        .icon {
          background-position-x: -160px;
          background-position-y: 0px;
        }
      }
      &:nth-child(4) {
        .icon {
          background-position-x: -240px;
          background-position-y: 0px;
        }
      }
    }

  }
}

#index {
  .second-container {
    h3, h5 {
      font-weight: bold;
      margin-bottom: 30px;
    }
    h5 {
      margin-bottom: 50px;
    }
  }
}

#projekte {
  .second-sub-container {
    padding-bottom: 10px;
    text-align: left;
    h3 {
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 50px;
      text-align: center;
    }
    .flexslider.project-sub {
      width: 100%;
      margin-bottom: 0;
      overflow: hidden;
      ul.slides {
        height: 640px;
        li {
          height: 640px;
        }
      }
      img {
        width: 100%;
        height: auto;
        max-height: 640px;
        height: 640px;
        display: block;
        margin-bottom: 10px;
      }
      ul.flex-direction-nav {
        a {
          height: 80px;
          &:before, &:after {
            content: "";
          }
          &.flex-prev {
            background: url(../assets/images/index/first/thin-left.png) center center no-repeat transparent;
          }
          &.flex-next {
            background: url(../assets/images/index/first/thin-right.png) center center no-repeat transparent;
          }
        }
      }
    }

    .row {
      margin-left: 0;
      margin-right: 0;
      .col {
        &.col-xs-4 {
          border-left: 4px solid #666;
        }
        .title {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}

#buero {
  .first-container, .second-container, .third-container {
    h4, h5 {
      color: $brand-primary;
      font-weight: bold;
      text-align: left;
    }
    h4 {
      margin-bottom: 30px;
    }
  }
  .first-container, .second-container {
    text-align: left;
  }
  .first-container {
    padding-top: 50px;
  }

}

#karriere {
  .first-container {
    text-align: left;
    img {
      display: block;
      width: 80%;
      margin: 50px auto 30px;
    }
    h5 {
      color: $brand-primary;
      font-weight: bold;
      text-align: left;
    }
    ul {
      padding-left: 15px;
    }
  }
}

#kontakt {
  .first-container {
    img {
      width: 100%;
      display: block;
    }
    .row {
      text-align: left;
      margin-top: 30px;
      margin-bottom: 30px;

      h5 {
        font-weight: bold;
        margin-bottom: 20px;
      }
      p.content {
        font-size: 12px;
      }
    }
  }
}

#mupgroup {
  .first-container {
    h3 {
      font-weight: bold;
      margin: 30px;
    }
    p.content {
      width: 60%;
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
      margin: auto;
      font-weight: bold;
      margin-bottom: 30px;
    }
  }
  .second-container {
    text-align: left;
    ul {
      list-style: none;
      width: 80%;
      margin: auto;
      padding-left: 0;
      li {
        display: inline-block;
        margin-left: 40px;
        img {
          height: 52px;
        }
      }
      @media (max-width: $screen-xs-max) {
        width: 100%;
        li {
          margin-left: 5px;
        }
      }
    }
  }
}






